.fc-view-harness {
  max-height: 739px;
  height: 100%;
  background: #fff;
}
.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td,
.fc-theme-standard th {
  border-top: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
.fc-theme-standard td.fc-daygrid-day {
  border-bottom: none;
}
.fc-scrollgrid.fc-scrollgrid-liquid {
  border-radius: 12px;
  padding: 20px;
}

.fc-theme-standard th.fc-col-header-cell:last-child {
  border-right: none;
}
.fc-col-header-cell {
  padding: 12px 0 !important;
}
.fc .fc-button-group {
  gap: 10px;
}
.fc .fc-button-primary {
  background: #fff;
  border: 1px solid #f4f4f4;
  color: #636363;
}
